/*BEGIN Xbox 360 Controller Styling*/
.controller.xbox-old {
    background: url(bg2.png);
    height: 544px;
    width: 668px;
    /*    margin-left: -332px;
        margin-top: -228px;*/
}

.xbox-old.disconnected {
    background: url(xbox-assets-old/bg-disconnect.png);
}

.xbox-old.disconnected div {
    display: none;
}

.xbox-old .triggers {
    width: 430px;
    height: 76px;
    position: absolute;
    left: 119px;
}

.xbox-old .trigger {
    width: 33px;
    height: 76px;
    background: url(trigger2.png);
    opacity: 0;
}

.xbox-old .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox-old .trigger.right {
    float: right;
    background-position: 0 -77px;
}

.xbox-old .bumper {
    width: 119px;
    height: 44px;
    background: url(bumper2.png);
    opacity: 0;
}

.xbox-old .bumpers {
    position: absolute;
    width: 516px;
    height: 44px;
    left: 76px;
    top: 84px;
}

.xbox-old .bumper.pressed {
    opacity: 1;
}

.xbox-old .bumper.left {
    float: left;
}

.xbox-old .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox-old .arrows {
    position: absolute;
    width: 180px;
    height: 29px;
    top: 200px;
    left: 244px;
}

.xbox-old .back, .xbox-old .start {
    background: url(arrow2.png);
    width: 34px;
    height: 29px;
}

.xbox-old .back.pressed, .xbox-old .start.pressed {
    background-position: 0 -30px;
}

.xbox-old .back {
    float: left;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.xbox-old .start {
    float: right;
}

.xbox-old .abxy {
    position: absolute;
    width: 161px;
    height: 160px;
    top: 125px;
    left: 451px
}

.xbox-old .button {
    position: absolute;
    width: 54px;
    height: 54px;
}

.xbox-old .button.a {
    width: 53px;
    height: 53px;
}

.xbox-old .button.y {
    width: 55px;
    height: 54px;
}

.xbox-old .button.pressed {
    background-position: 0 -55px;
    margin-top: 6px;
    opacity: 1;
}

.xbox-old .button.pressed.a {
    background-position: 0 -54px;
}

.xbox-old .button.pressed.y {
    background-position: 0 -56px;
}

.xbox-old .a {
    background: url(a2.png);
    top: 108px;
    left: 55px;
}

.xbox-old .b {
    background: url(b2.png);
    top: 54px;
    right: 0px;
}

.xbox-old .x {
    background: url(x2.png);
    top: 54px;
}

.xbox-old .y {
    background: url(y2.png);
    left: 54px;
}

.xbox-old .sticks {
    position: absolute;
    width: 383px;
    height: 208px;
    top: 167px;
    left: 89px;
}

.xbox-old .stick {
    position: absolute;
    background: url(stick2.png);
    height: 86px;
    width: 86px;
}

.xbox-old .stick.pressed {
    background-position: 0 -87px;
}

.xbox-old .stick.left {
    top: 0;
    left: 0;
}

.xbox-old .stick.right {
    top: calc(100% - 86px);
    left: calc(100% - 86px);
}

.xbox-old .dpad {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 273px;
    left: 174px;
}

.xbox-old .face {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    color: white;
    opacity: 0;
    font-family: 'FontAwesome';
}

.xbox-old .face.pressed {
    opacity: 1;
}

.xbox-old .face.up {
    left: 42px;
    top: 20px;
}

.xbox-old .face.up:after {
    content: "\f062";
}

.xbox-old .face.down {
    left: 42px;
    bottom: 20px;
}

.xbox-old .face.down:after {
    content: "\f063";
}

.xbox-old .face.left {
    top: 56px;
    left: 3px;
}

.xbox-old .face.left:after {
    content: "\f060";
}

.xbox-old .face.right {
    top: 56px;
    right: 3px;
}

.xbox-old .face.right:after {
    content: "\f061";
}

.xbox-old.half {
    margin-top: -272px;
}

/*END Xbox 360 Controller Styling*/
